* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.background {
  height: 60vh;
  width: 50%;
  border-bottom-left-radius: 4rem;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  background-color: hsl(207, 33%, 95%);
}

@media screen and (max-width: 900px) {
  .background {
    height: 75vh;
  }
}
